.textArea {
  width: 100%;
  height: 300px;
  resize: vertical;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(250, 247, 244, 0.327);
  outline: none;
  font-size: 17px;
}

.WhiteSpace {
  white-space: normal !important;
}

.Result-Area {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(250, 247, 244, 0.327);
  font-size: 17px;
}
